<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Pic-A-Pet</title>
  </head>
  <body>
    <nav>
      <a href="app">
        <img class="logo-nav" src="images/logo-navbar.png" />
      </a>
      <a href="login.html">Login</a>
      <a href="logout.html">Logout</a>
      <a href="register.html">Register</a>
      <a class="picPet" href="app">Feed</a>
      <a class="picPetMessage" href="message.html">Messages</a>
      <a class="picPetProfile" href="profile.html">Profile</a>
    </nav>
    <br />
    <img class="logo-small" src="images/Pic-A-Pet Logo.PNG.png" />

    <% if (messages.length === 0) { %>
    <p>No messages.</p>
    <% } else { %>
    <ul id="messages-list">
      <% messages.forEach(message => { %>
      <li>
        <strong>From:</strong> <%= message.sender %><br />
        <strong>To:</strong> <%= message.recipient %><br />
        <strong>Message:</strong> <%= message.message %>
      </li>
      <% }); %>
    </ul>
    <% } %>

    <footer>
      <p>Tel: +44 131 496 0418</p>
      <br />
      <p>Pic-A-Pet Copyright Protected©</p>
      <br />
      <p>Email: Happytohelpapet@gmail.com</p>
    </footer>
  </body>
</html>
