<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Pic-A-Pet</title>
  </head>
  <body>
    <nav>
      <a href="app">
        <img class="logo-nav" src="images/logo-navbar.png" />
      </a>
      <a href="login.html">Login</a>
      <a href="logout.html">Logout</a>
      <a href="register.html">Register</a>
      <a class="picPet" href="app">Feed</a>
      <a class="picPetMessage" href="message.html">Messages</a>
      <a class="picPetProfile" href="profile.html">Profile</a>
    </nav>
    <br />
    <img class="logo-small" src="images/Pic-A-Pet Logo.PNG.png" />

    <h2>
      Welcome to Pic-a-Pet, a social media platform for all animal related
      content!
    </h2>
    <br />
    <div class="messages-section">
      <h2>Messages</h2>
      <ul id="messages-list"></ul>
    </div>

    <h3>Here you can message other users!</h3>
    <br />
    <br />
    <div class="message-form">
      <% user.messages.forEach(message => { %>
      <div class="message">
        <p>From: <%= message.sender.username %></p>
        <p>Pet: <%= message.pet.name %></p>
        <p>Action: <%= message.action %></p>
        <p>Message: <%= message.message %></p>
      </div>
      <% }); %>
    </div>
    <footer>
      <p>Tel: +44 131 496 0418</p>
      <br />
      <p>Pic-A-Pet Copyright Protected©</p>
      <br />
      <p>Email: Happytohelpapet@gmail.com</p>
    </footer>
  </body>
</html>
