/* Global styles */
html,
body {
  background-color: #c2c3f5;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: #fff8e8;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: #fef2a6;
  font-size: 32px;
  text-align: center;
}

h3 {
  color: #4056a1;
  font-size: 22px;
  text-align: center;
}

/* Header and footer styles */
header {
  background-color: #fff8e8;
}

footer {
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  padding-left: 15px;
  background-color: #fef2a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  text-decoration: none;
  margin-right: 35px;
  color: #4056a1;
  font-weight: bold;
}

/* Logo styles */
.logo,
.logo-small {
  width: 600px;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #c2c3f5;
}

.logo-small {
  width: 375px;
  height: 25%;
}

/* Navigation styles */
nav {
  height: 20%;
  background-color: #4056a1;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

nav a {
  color: #fff8e8;
  text-decoration: none;
  margin-right: 10px;
  font-size: 32px;
  font-weight: bold;
}

nav a:hover {
  color: #f9d476;
}

.logo-nav {
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s ease;
}

.logo-nav:hover {
  filter: brightness(70%);
}

.picPet {
  color: #fef2a6;
}

.picPetProfile {
  color: #baaaf7;
}

.picPetMessage {
  color: #fef2a6;
}

/* Form container styles */
.form-box,
.message-form {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 6px solid #4056a1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff8e8;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  font-weight: bold;
  color: #4056a1;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 3px solid #baaaf7;
  border-radius: 5px;
}

.submitButton {
  background-color: #baaaf7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #f13c20;
}

/* Button styles */
button {
  background-color: #f9d476;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #87e393;
}

.newPostButton,
input[type="submit"] {
  color: #fff;
  background-color: #f9d476;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

.newPostButton:hover,
input:hover[type="submit"] {
  background-color: #f13c20;
  cursor: pointer;
}

/* Comment styles */
#message {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid #baaaf7;
  border-radius: 5px;
  font-size: 22px;
  color: #4056a1;
  text-align: center;
}

#comments {
  margin-top: 5px;
  border: 3px solid #e1bc5e;
  border-radius: 5px;
  padding: 10px;
}

#comment-form {
  padding-bottom: 20px;
}

#post-comments {
  list-style-type: none;
  padding: 0;
}

#post-comments li,
label {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #4056a1;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#post-message {
  color: #baaaf7;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* Miscellaneous styles */
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
}

.text-container p {
  text-align: center;
  color: #fff8e8;
  font-size: 26px;
  margin-left: 100px;
  margin-right: 100px;
}

#recent-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recentPostsListContainer {
  background-color: #fff8e8;
  border: 6px solid #4056a1;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
  height: 60%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Profile section styles */
.profile {
  border: 6px solid #4056a1;
  background-color: #fff8e8;
  width: 70%;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  display: block;
  background-color: #c2c3f5;
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #baaaf7;
}

.profile-bio {
  font-size: 16px;
  margin-bottom: 20px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-bottom: 20px;
  color: #e1bc5e;
}